@import "tailwindcss";


/* Definimos Variables */

@theme {

  /* Colores */
  --color-primary: #09f;
  --color-primary-ligth: #ceecff;
  --color-primary-dark: rgb(0, 22, 83);
  --color-css : #663399;

  /* Breakpoints */

  --breakpoint-xs : 350px;
}